/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-weight: bold;
        font-size: 1em;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-weight: bold;
        font-size: 1em;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-weight: bold;
        font-size: 1em;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 720px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1000px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
    .size{
        margin: 0.5%;
        margin-right:0.5%;
        font-size: 2em;
    }
}

/* iPhone 4 ----------- */
@mediaonly screen and (-webkit-min-device-pixel-ratio : 1.5),only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
    .size{
        margin-right:0.5%;
        font-weight: bold;
        font-size: 1em;
    }
}